body {
  background: rgb(253, 222, 197);
}

.page{
    margin-top: 110px;
    margin-left: 300px;
    /* text-align:center; */
}

a strong {
    color: inherit
}


th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.25;
    color: #000000;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 3rem
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}


html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif
}

@media (min-width: 58em) {
    html {
        font-size: 20px
    }
}




