.title{
    margin-top: 2%;
    margin-left: 6.5%;
}

.pic{
    margin-top: -0.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: rgb(134, 134, 133);
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

h1 {
  font-family:Hind, sans-serif;
  /* margin-left: 1.6%; */
  border-bottom: 1px; 
  width: 60%;
  /* border-bottom: 2px solid gray; */
  padding-bottom: 20px;
}