.container1{
    width: 100%;
    margin-top: 3em;
}

.container2{
    width: 80%;
    margin: 0 auto; 
}

.container3{
    width: 80%;
    margin: 0 auto;  
    margin-top: 3em;  
    background-color: white; 
}

.personimgblock{
    margin-right: 2em;
    height: 20em;
    // width: 10em;
}

.personimg{
    width: 15em;
}

.name{
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.location{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introductionblock{
    height: 23.5em;
}

.aboutme{
    // float: left;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.textstyle{
    // float: left;
    // margin: 0 0 10px;
    text-align : left;
}

// .info{
//     // margin-left: 300px;
// }

.timeline{
    margin-top: 1em;
}